.card {
    border-width: 2px, 2px, 8px, 2px;
    border-style: solid;
    border-color:#CBCBCB  gray  ;
    background-color: #CBCBCB;
    width: 400px;
    height: 560px;
    text-align: center;
}

.btn {
    padding: 27px 129px;
    background-color: #727272;
    border-radius: 28px;
    border-width: 2px, 2px, 8px, 2px;
    border-style: solid;
    border-color: #727272;
}